<div class="row">
<div class="col-xs-10">
<%= form_for([@video, @video.comments.build]) do |f| %>
  <div class="form-group">
    <%= f.label :commenter, "Name:" %><br>
    <%= f.text_field :commenter, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body, "Your comment:" %><br>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Create comment", class: "btn btn-primary" %>
  </div>
<% end %>
<div>
</div>

