 
<%= link_to new_video_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Post new video
<% end %>

<table class="table-condensed">
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Text</th>
  </tr>
 
  <% @videos.each do |video| %>
    <tr>
      <td><%= video.title %></td>
      <td><%= raw youtube_embed(video.url) %></td>
      <td><%= video.text %></td>
      <td><%= link_to 'Show', video_path(video), class: 'btn btn-primary btn-xs' %></td>
      <td><%= link_to 'Edit', edit_video_path(video), class: 'btn btn-info btn-xs' %></td>
      <td><%= link_to 'Destroy', video_path(video),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
    </tr>
  <% end %>
</table>