<div class="jumbotron">
<p>
	<h1><%= @video.title %></h1>
</p>

<p>
	<%= raw youtube_embed(@video.url) %>
</p>

<p>
	<h3><%= @video.text %></h3>
</p>

<!-- Raises an error if you dont check if user is logged in -->
<% if user_signed_in? %>
<% if current_user.id == @video.user_id %>
<%= link_to edit_video_path(@video), class: "btn btn-lg btn-info" do %>
<i class="glyphicon glyphicon-pencil"></i>

 <%= link_to video_path(video), method: :delete,
      data: { confirm: 'Are you sure?' }, class: 'btn btn-lg btn-danger' do %>
      <i class="glyphicon glyphicon-trash"></i>
      <% end %>
<% end %>
<% end %>
<% end %>

<%= link_to root_path, class: "btn btn-lg btn-info" do %>
<i class="glyphicon glyphicon-arrow-left"></i>
<% end %>
</div>

<div class="jumbotron">
<hr>

<h2>Comments</h2>
<%= render @video.comments %>

<% if user_signed_in? %>
<hr>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<% else %>

<div class="jumbotron">
<%= link_to "Login to post a comment", new_user_session_path, class: "btn btn-primary btn-lg"  %>
</div>

<% end %>

</div>



