<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Url:</strong><br>
  <%= raw youtube_embed(@video.url) %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @video.text %>
</p>

<h2>Comments</h2>
<%= render @video.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to edit_video_path(@video), class: "btn btn-lg btn-info" do %>
	<i class="glyphicon glyphicon-pencil"></i>
<% end %>
 
<%= link_to videos_path, class: "btn btn-lg btn-info" do %>
	<i class="glyphicon glyphicon-arrow-left"></i>
<% end %>