<p>
  <h1><%= @video.title %></h1>
</p>

<p>
  <%= raw youtube_embed(@video.url) %>
</p>
 
<p>
  <h3><%= @video.text %></h3>
</p>

<br>
<hr>
<br>

<h2>Comments</h2>
<%= render @video.comments %>

<!-- remove all the <br>'s and style with css later -->
<br>

<hr>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to edit_video_path(@video), class: "btn btn-lg btn-info" do %>
	<i class="glyphicon glyphicon-pencil"></i>
<% end %>
 
<%= link_to videos_path, class: "btn btn-lg btn-info" do %>
	<i class="glyphicon glyphicon-arrow-left"></i>
<% end %>