<!DOCTYPE html>
<html>
<head>
  <title>YoutubeShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>

    <%= render "layouts/navigation"%>

  </header>

  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-2">
        <%= link_to(image_tag('youtubeshare.png', class: "logo"), root_path)  %>

        <p>
         <%= link_to new_video_path, class: 'btn btn-warning btn-lg new-video' do %>
         <i class="glyphicon glyphicon-plus"></i> Post new video
         <% end %>
       </p>

       <% if user_signed_in? %>
       <p>
        <%= link_to my_videos_path, class: "btn btn-success btn-lg my-videos" do %>
        <i class="glyphicon glyphicon-eye-open"></i> View my videos
        <% end %>
      </p>      

      <% end %>      
      
    </div>
    <div class="col-xs-8">    
      <section class="jumbotron">
        <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </section>
      <%= yield %>
    </div>

    <div class="col-xs-2 login">

      <% if !user_signed_in? %> 

      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-default" %>

      <%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-primary"  %>

      <% end %>  

      <%= link_to request.fullpath, class: "btn btn-info btn-circle btn-lg  scrollup" do %>
      <i class="glyphicon glyphicon-arrow-up"></i>
      <% end %>   


      <%= render "videolist" if @videos!= nil %>


    </div>
  </div>
</div>

<footer>

</footer>

</body>
</html>
