<!DOCTYPE html>
<html>
<head>
  <title>YoutubeShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>


  </header>

  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-2">
        <%= link_to(image_tag('youtube25.png', class: "logo"), root_path)  %>

        <p>
         <%= link_to new_video_path, class: 'btn btn-warning' do %>
         <i class="glyphicon glyphicon-plus"></i> Post new video
         <% end %>
       </p>

       <% if user_signed_in? %>
       <p>
        <%= link_to my_videos_path, class: "btn btn-success" do %>
        <i class="glyphicon glyphicon-eye-open"></i> View my videos
        <% end %>
      </p>
      <% end %>
      
    </div>
    <div class="col-xs-7">    
      <section class="jumbotron">
        <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </section>
      <%= yield %>
    </div>

    <div class="col-xs-3">

      <section class="jumbotron login">

        <% if user_signed_in? %>
        Welcome! <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-default" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>

        <% else %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-default"  %>
        <% end %>

      </section>

    </div>
  </div>
</div>

<footer>

</footer>

</body>
</html>
